[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
ids-peak = "*"
numpy = ">=1.24.0"
ultralytics = ">=8.0.0"
opencv-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
