[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
ids-peak = "*"
opencv-python = ">=4.8.0"
numpy = ">=1.24.0"
ultralytics = ">=8.0.0"

[dev-packages]

[requires]
python_version = "3.13"
